### Collaborative Filtering avec Suprise

In [1]:
import pandas as pd
from surprise import Dataset, Reader, SVD

In [2]:
# Fonction de recommandation
def generate_recommendations(ratings_updated, favorite_movies):

    new_user_id = ratings_updated['userId'].max() + 1

    for i in favorite_movies:
        newdata = pd.DataFrame([[new_user_id, i, 5.0]], columns=['userId', 'tmdb_id', 'rating'])
        ratings_updated = pd.concat([ratings_updated, newdata], ignore_index=True)

    reader = Reader(rating_scale=(0.5, 5))
    data = Dataset.load_from_df(ratings_updated[['userId', 'tmdb_id', 'rating']], reader)
    svd = SVD()
    train_set = data.build_full_trainset()
    svd.fit(train_set)

    all_pred = []
    movie_id = []
    for movie in ratings_updated['tmdb_id'].unique().tolist():
        pred = svd.predict(new_user_id, movie)
        all_pred.append(pred.est)
        movie_id.append(pred.iid)

    result = pd.DataFrame(list(zip(movie_id, all_pred)), columns=['tmdb_id', 'predicted_rating'])
    result.sort_values(by='predicted_rating', ascending=False, inplace=True)
    
    return result.sort_values(by='predicted_rating', ascending=False).head(30)

In [3]:
# Importation du fichier
ratings_updated = pd.read_csv('src/Movielens_ratings_updated.csv')

# Liste de films favoris (exemple)
favorite_movies = [671, 672, 673]

# Test de la fonction de recommandation
generate_recommendations(ratings_updated, favorite_movies)

     tmdb_id  predicted_rating
416     2493          4.968172
6        278          4.742337
72       289          4.719342
26      1891          4.674760
66       567          4.669907
15        11          4.669447
23     77338          4.632882
388    22803          4.620422
392     8321          4.614303
24       497          4.601371
56       423          4.591331
57       389          4.589249
243   122906          4.571149
209      197          4.565661
213     1402          4.562726
247   314365          4.540874
62       598          4.539323
464      149          4.527652
13       673          4.525898
95     14160          4.518347
43       489          4.517426
467      213          4.517073
74    411088          4.511861
1     157336          4.509514
471      770          4.509301
58     50014          4.506431
424   203833          4.502668
32    120467          4.496460
41    398818          4.496364
91       672          4.494204