In [2]:
import pandas as pd

tmdb_content = pd.read_csv("data/TMDB_content.csv")

In [39]:
tmdb_content[tmdb_content['title'] == 'Aladdin']

,TMDB_id,title,genres,keywords,cast
220,812,Aladdin,"Animation, Family, Adventure, Fantasy, Romance","princess, magic, tiger, cartoon, parrot, sulta...","Scott Weinger, Robin Williams, Linda Larkin, J..."
244,420817,Aladdin,"Adventure, Fantasy, Romance, Family","hero, hustler, palace, sultan, flying carpet, ...","Will Smith, Mena Massoud, Naomi Scott, Marwan ..."

In [40]:
tmdb_content[tmdb_content['title'].duplicated() == True].count()

TMDB_id     41
title       41
genres      41
keywords    41
cast        41
dtype: int64

In [29]:
filter_genres = tmdb_content['genres'].str.split(',').explode('genres').str.strip().unique()
filter_genres

array(['Action', 'Science Fiction', 'Adventure', 'Drama', 'Crime',
       'Thriller', 'Comedy', 'Romance', 'Western', 'Mystery', 'War',
       'Fantasy', 'Family', 'Animation', 'Music', 'Horror', 'History',
       'Documentary', 'TV Movie'], dtype=object)

In [24]:
filter_keywords = tmdb_content['keywords'].str.split(',').explode('keywords').unique()
filter_keywords = pd.Series(filter_keywords)
filter_keywords

0              rescue
1             mission
2               dream
3            airplane
4               paris
            ...
8530           attack
8531       domination
8532         cheering
8533         notebook
8534    teleportation
Length: 8535, dtype: object

In [44]:
tmdb_content['genres'].str.split(',').explode('genres').str.strip().sort_values().unique()

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror',
       'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie',
       'Thriller', 'War', 'Western'], dtype=object)