In [1]:
import pandas as pd

tmdb_content = pd.read_csv("data/TMDB_content.csv")
tmdb_providers = pd.read_csv("data/TMDB_providers.csv")

In [2]:
tmdb_content.head()

,tmdb_id,score_imdb,title,genres,poster_path,year,keywords,cast,director,watch_providers
0,27205,7.940767,Inception,"Action, Science Fiction, Adventure",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,2010,"rescue, mission, dream, airplane, paris, franc...","Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",Christopher Nolan,"381, 56, 685"
1,157336,7.937819,Interstellar,"Adventure, Drama, Science Fiction",/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014,"rescue, future, spacecraft, race against time,...","Matthew McConaughey, Anne Hathaway, Jessica Ch...",Christopher Nolan,"8, 1796"
2,155,7.933772,The Dark Knight,"Drama, Action, Crime, Thriller",/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008,"joker, sadism, chaos, secret identity, crime f...","Christian Bale, Heath Ledger, Michael Caine, G...",Christopher Nolan,NaN
3,299536,7.926985,Avengers: Infinity War,"Adventure, Action, Science Fiction",/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018,"sacrifice, magic, superhero, based on comic, s...","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",Anthony Russo,337
4,550,7.925936,Fight Club,Drama,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,1999,"dual identity, rage and hate, based on novel o...","Edward Norton, Brad Pitt, Helena Bonham Carter...",David Fincher,"337, 8, 11, 201, 1796"

In [3]:
tmdb_providers.head()

   provider_id           provider_name                         logo_path
0          381                  Canal+  /jHLq7Nu0cUQYshXuBNhzvrln1vL.jpg
1           56                  OCS Go  /riPZYc1ILIbubFaxYSdVfc7K6bm.jpg
2          685     OCS Amazon Channel   /42Cj5KNEteBRpfWnGWQbTJpJDGV.jpg
3            8                 Netflix  /t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg
4         1796  Netflix basic with Ads  /mShqQVDhHoK7VUbfYG3Un6xE8Mv.jpg

In [24]:
test = tmdb_content['watch_providers'].dropna().str.split(',').explode('watch_providers').str.strip().unique()
test

array(['381', '56', '685', '8', '1796', '337', '11', '201', '531', '582',
       '1853', '119', '138', '1734', '1967', '1732', '310', '701', '588',
       '1738', '445', '1737', '350', '1870', '513', '1736', '692', '9',
       '415', '1888', '1735', '1733', '1889'], dtype=object)

In [28]:
filters_streaming = st.session_state.tmdb_providers[st.session_state.tmdb_providers['provider_id'].astype(str).isin(st.session_state.recommended_movies['watch_providers'].dropna().str.split(',').explode('watch_providers').str.strip().unique())]['provider_name']

0                                       Canal+
1                                       OCS Go
2                          OCS Amazon Channel
3                                      Netflix
4                       Netflix basic with Ads
5                                  Disney Plus
6                                         MUBI
7                          MUBI Amazon Channel
8                               Paramount Plus
9                    Paramount+ Amazon Channel
10            Paramount Plus Apple TV Channel
11                          Amazon Prime Video
12                                       FILMO
13                        Filmo Amazon Channel
14                                  Molotov TV
15                  Universcine Amazon Channel
16                                   LaCinetek
17                                    FilmBox+
18                          MGM Amazon Channel
19                       Benshi Amazon Channel
20                                     Classix
21                 INA  madelen Amazon Channel
22                               Apple TV Plus
23                  Pass Warner Amazon Channel
24                                     Shadowz
25                      Shadowz Amazon Channel
26                                     Cultpix
27                      Anime Digital Networks
28    Animation Digital Network Amazon Channel
29                     Insomnia Amazon Channel
30                   Action Max Amazon Channel
31                   Universal+ Amazon Channel
Name: provider_name, dtype: object

In [17]:
test[0]

'381'

In [18]:
tmdb_providers['provider_id'][0]

381

In [38]:
def apply_filters(df, filters):
    filtered_df = df.copy()

    if filters:
        for filter_name, filter_values in filters.items():
            if filter_values:
                try:
                    filtered_df[filter_name] = filtered_df[filter_name].fillna('')
                    if filter_name == 'watch_providers':
                        filter_conditions = [filtered_df[filter_name].str.contains(fr'\b{value}\b', case=True) for value in filter_values]
                    else:
                        filter_conditions = [filtered_df[filter_name].str.contains(value, case=False) for value in filter_values]
                    combined_condition = pd.concat(filter_conditions, axis=1).any(axis=1)
                    filtered_df = filtered_df[combined_condition]
                except AttributeError:
                    return filtered_df.head(0)
                    
        filtered_df.reset_index(drop=True, inplace=True)
    
    return filtered_df

In [36]:
filters = {
"genres":[],
"keywords":[],
"year":[],
"cast":[],
"director":[],
"watch_providers":["381", "8", "337"]
}

In [33]:
filters

{'genres': [],
 'keywords': [],
 'year': [],
 'cast': [],
 'director': [],
 'watch_providers': ['381', '8', '337']}

In [39]:
apply_filters(tmdb_content, filters)

,tmdb_id,score_imdb,title,genres,poster_path,year,keywords,cast,director,watch_providers
0,27205,7.940767,Inception,"Action, Science Fiction, Adventure",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,2010,"rescue, mission, dream, airplane, paris, franc...","Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",Christopher Nolan,"381, 56, 685"
1,157336,7.937819,Interstellar,"Adventure, Drama, Science Fiction",/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014,"rescue, future, spacecraft, race against time,...","Matthew McConaughey, Anne Hathaway, Jessica Ch...",Christopher Nolan,"8, 1796"
2,299536,7.926985,Avengers: Infinity War,"Adventure, Action, Science Fiction",/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018,"sacrifice, magic, superhero, based on comic, s...","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",Anthony Russo,337
3,550,7.925936,Fight Club,Drama,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,1999,"dual identity, rage and hate, based on novel o...","Edward Norton, Brad Pitt, Helena Bonham Carter...",David Fincher,"337, 8, 11, 201, 1796"
4,680,7.922181,Pulp Fiction,"Thriller, Crime",/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,1994,"drug dealer, boxer, massage, stolen money, bri...","John Travolta, Samuel L. Jackson, Uma Thurman,...",Quentin Tarantino,"8, 381, 1796, 531, 582, 1853"
...,...,...,...,...,...,...,...,...,...,...
1334,406994,5.938389,Better Watch Out,"Comedy, Horror, Thriller",/liI4c3GYaKuAo4FsCF4RKvFFqbV.jpg,2017,"holiday, spider, murder, snowman, snow, home i...","Olivia DeJonge, Levi Miller, Ed Oxenbould, Ale...",Chris Peckover,381
1335,9437,5.938364,Kiss the Girls,"Thriller, Crime, Mystery, Drama",/25h5I3E3ydhazsPDnscWHivq5pn.jpg,1997,"based on novel or book, escape, kidnapping, de...","Morgan Freeman, Ashley Judd, Cary Elwes, Alex ...",Gary Fleder,"381, 531, 582, 1853"
1336,146239,5.938364,Delivery Man,Comedy,/dKTkxSeNgHdwgrAbhwbXuUk4tzb.jpg,2013,"remake, sperm donor, artificial insemination","Vince Vaughn, Cobie Smulders, Chris Pratt, Bri...",Ken Scott,337
1337,9667,5.938338,The Jacket,"Thriller, Mystery, Drama, Science Fiction, Fan...",/mdUKskPTFYxPgbEUfoQryM79wz8.jpg,2005,"amnesia, experiment, smoking, psychology, hall...","Adrien Brody, Keira Knightley, Kris Kristoffer...",John Maybury,"119, 381"
1338,9208,5.938338,Broken Arrow,"Action, Thriller, Adventure",/2AlvHCeaZtFeR2H0IDoa2BmXOyK.jpg,1996,"canyon, helicopter, captain, underground, rive...","John Travolta, Christian Slater, Samantha Math...",John Woo,337

In [81]:
providers = tmdb_providers[tmdb_providers['provider_id'].astype(str).isin(
    [provider_id.strip() for provider_id in tmdb_content['watch_providers'][0].split(',')]
    )]['provider_name']
providers

0                 Canal+
1                 OCS Go
2    OCS Amazon Channel
Name: provider_name, dtype: object

In [98]:
tmdb_content

,tmdb_id,score_imdb,title,genres,poster_path,year,keywords,cast,director,watch_providers
0,27205,7.940767,Inception,"Action, Science Fiction, Adventure",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,2010,"rescue, mission, dream, airplane, paris, franc...","Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",Christopher Nolan,"381, 56, 685"
1,157336,7.937819,Interstellar,"Adventure, Drama, Science Fiction",/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014,"rescue, future, spacecraft, race against time,...","Matthew McConaughey, Anne Hathaway, Jessica Ch...",Christopher Nolan,"8, 1796"
2,155,7.933772,The Dark Knight,"Drama, Action, Crime, Thriller",/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008,"joker, sadism, chaos, secret identity, crime f...","Christian Bale, Heath Ledger, Michael Caine, G...",Christopher Nolan,NaN
3,299536,7.926985,Avengers: Infinity War,"Adventure, Action, Science Fiction",/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,2018,"sacrifice, magic, superhero, based on comic, s...","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",Anthony Russo,337
4,550,7.925936,Fight Club,Drama,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,1999,"dual identity, rage and hate, based on novel o...","Edward Norton, Brad Pitt, Helena Bonham Carter...",David Fincher,"337, 8, 11, 201, 1796"
...,...,...,...,...,...,...,...,...,...,...
2995,9437,5.938364,Kiss the Girls,"Thriller, Crime, Mystery, Drama",/25h5I3E3ydhazsPDnscWHivq5pn.jpg,1997,"based on novel or book, escape, kidnapping, de...","Morgan Freeman, Ashley Judd, Cary Elwes, Alex ...",Gary Fleder,"381, 531, 582, 1853"
2996,146239,5.938364,Delivery Man,Comedy,/dKTkxSeNgHdwgrAbhwbXuUk4tzb.jpg,2013,"remake, sperm donor, artificial insemination","Vince Vaughn, Cobie Smulders, Chris Pratt, Bri...",Ken Scott,337
2997,9667,5.938338,The Jacket,"Thriller, Mystery, Drama, Science Fiction, Fan...",/mdUKskPTFYxPgbEUfoQryM79wz8.jpg,2005,"amnesia, experiment, smoking, psychology, hall...","Adrien Brody, Keira Knightley, Kris Kristoffer...",John Maybury,"119, 381"
2998,315664,5.938338,Florence Foster Jenkins,"Comedy, Drama",/1HAdtUchzWEo0LMFHrgD2UBIBS3.jpg,2016,"opera, biography, singing false, chronic disease","Meryl Streep, Hugh Grant, Simon Helberg, Rebec...",Stephen Frears,NaN
2999,9208,5.938338,Broken Arrow,"Action, Thriller, Adventure",/2AlvHCeaZtFeR2H0IDoa2BmXOyK.jpg,1996,"canyon, helicopter, captain, underground, rive...","John Travolta, Christian Slater, Samantha Math...",John Woo,337

In [99]:
tmdb_content['watch_providers'][3]

'337'

In [101]:
providers = tmdb_providers[tmdb_providers['provider_id'].astype(int) == int(tmdb_content['watch_providers'][3])]['provider_name']
providers

5    Disney Plus
Name: provider_name, dtype: object

In [85]:
# Assuming 'watch_providers' is a string column containing comma-separated provider IDs in filtered_recommended_movies
provider_ids_str = tmdb_content['watch_providers'][0]
provider_ids = [int(provider_id.strip('"')) for provider_id in provider_ids_str.split(',')]

# Filtering tmdb_providers based on the provider IDs
filtered_providers = tmdb_providers[tmdb_providers['provider_id'].astype(int).isin(provider_ids)]['provider_name']
filtered_providers

In [91]:
tmdb_providers[tmdb_providers['provider_id'].astype(int).isin([int(provider_id.strip('"')) for provider_id in tmdb_content['watch_providers'].loc[0].split(',')])]['provider_name']

0                 Canal+
1                 OCS Go
2    OCS Amazon Channel
Name: provider_name, dtype: object

In [80]:
tmdb_providers[tmdb_providers['provider_id'].astype(str).isin(
    [provider_id.strip() for provider_id in tmdb_content['watch_providers'][0].split(',')])]['provider_name']

0                 Canal+
1                 OCS Go
2    OCS Amazon Channel
Name: provider_name, dtype: object

In [78]:
[provider_id.strip() for provider_id in tmdb_content['watch_providers'][0].split(',')]

['381', '56', '685']

In [70]:
[int(provider_id.strip()) for provider_id in tmdb_content['watch_providers'][0].split(',')]

[381, 56, 685]

In [1]:
import pandas as pd
tmdb_providers = pd.read_csv("data/TMDB_providers.csv")
tmdb_content = pd.read_csv("data/TMDB_content.csv")

In [6]:
watch_providers = tmdb_content['watch_providers'][0]
providers_list = tmdb_providers[tmdb_providers['provider_id'].astype(int).isin([int(provider_id.strip('"')) for provider_id in watch_providers.split(',')])]['provider_name'].to_list()
providers = ''
for provider in providers_list:
    providers += "- " + i + "\n"

NameError: name 'i' is not defined

In [72]:
tmdb_providers

,provider_id,provider_name,logo_path
0,381,Canal+,/jHLq7Nu0cUQYshXuBNhzvrln1vL.jpg
1,56,OCS Go,/riPZYc1ILIbubFaxYSdVfc7K6bm.jpg
2,685,OCS Amazon Channel,/42Cj5KNEteBRpfWnGWQbTJpJDGV.jpg
3,8,Netflix,/t2yyOv40HZeVlLjYsCsPHnWLk4W.jpg
4,1796,Netflix basic with Ads,/mShqQVDhHoK7VUbfYG3Un6xE8Mv.jpg
5,337,Disney Plus,/7rwgEs15tFwyR9NPQ5vpzxTj19Q.jpg
6,11,MUBI,/bVR4Z1LCHY7gidXAJF5pMa4QrDS.jpg
7,201,MUBI Amazon Channel,/aJUiN18NZFbpSkHZQV1C1cTpz8H.jpg
8,531,Paramount Plus,/xbhHHa1YgtpwhC8lb1NQ3ACVcLd.jpg
9,582,Paramount+ Amazon Channel,/3E0RkIEQrrGYazs63NMsn3XONT6.jpg
10,1853,Paramount Plus Apple TV Channel,/9pdeflA0P1b8qlkeDA1oLfyvR06.jpg
11,119,Amazon Prime Video,/emthp39XA2YScoYL1p0sdbAH2WA.jpg
12,138,FILMO,/b6hJjWPa7h8VCpaCVJCSu8EPlqT.jpg
13,1734,Filmo Amazon Channel,/xO3KmmiYYol5jNsRZNJ7Sow7eUy.jpg
14,1967,Molotov TV,/R7p7Bw4K6Cork8xUifHVQwkrjX.jpg
15,1732,Universcine Amazon Channel,/yUjwJAMDmkTmPrQAlR3Kw0jlnVm.jpg
16,310,LaCinetek,/aWVrYX6azFNjP3uR0YxGmHpxg8f.jpg
17,701,FilmBox+,/4FqTBYsUSZgS9z9UGKgxSDBbtc8.jpg
18,588,MGM Amazon Channel,/fUUgfrOfvvPKx9vhFBd6IMdkfLy.jpg
19,1738,Benshi Amazon Channel,/bO7nSuzaFq3qRTHHQfvNuDCSOCc.jpg
20,445,Classix,/iaMw6nOyxUzXSacrLQ0Au6CfZkc.jpg
21,1737,INA madelen Amazon Channel,/3QaRTn9zLUT3vVLTIomvk3XBFaP.jpg
22,350,Apple TV Plus,/6uhKBfmtzFqOcLousHwZuzcrScK.jpg
23,1870,Pass Warner Amazon Channel,/loOaayvNiLnD0zKl70TO2L5vlAL.jpg
24,513,Shadowz,/pICdAIrQp0JRR4polBXhlVg8bO.jpg
25,1736,Shadowz Amazon Channel,/k8RBvbxANThdziMeuAH22Z26NPX.jpg
26,692,Cultpix,/59azlQKUgFdYq6QI5QEAxIeecyL.jpg
27,415,Anime Digital Networks,/x8m1Cv6iy4n0Fi9tBa9TAXEuoO4.jpg
28,1888,Animation Digital Network Amazon Channel,/3WYKTSwdEPMZKRmJ49Oqx6mxpa2.jpg
29,1735,Insomnia Amazon Channel,/ptn8fYXxAQrlMQAoESOo1dJ2TPV.jpg
30,1733,Action Max Amazon Channel,/9FH7tewU23chp628XZcY66UOovi.jpg
31,1889,Universal+ Amazon Channel,/hCfry9LLjkiP1psMmUPnk3oGDG.jpg