In [90]:
import pandas as pd

tmdb_content = pd.read_csv("data/TMDB_content.csv")

In [91]:
tmdb_content

,tmdb_id,title,genres,poster_path,year,keywords,cast,director,watch_providers
0,614696,#Alive,"Horror, Action, Adventure, Thriller",/zqf711LsnQ5CcW3rISFw2t7OYzb.jpg,2020,"escape, alone, survival, drone, zombie, apartm...","Yoo Ah-in, Park Shin-hye, Lee Hyun-wook, Jin S...",Cho Il,"8, 1796"
1,19913,(500) Days of Summer,"Comedy, Drama, Romance",/f9mbM0YMLpYemcWx6o2WeiYQLDP.jpg,2009,"jealousy, gallery, fight, date, architect, int...","Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",Marc Webb,337
2,333371,10 Cloverfield Lane,"Thriller, Science Fiction, Drama, Horror",/84Dhwz93vCin6T1PX6ctSvWEuNE.jpg,2016,"kidnapping, paranoia, bunker, basement, surviv...","Mary Elizabeth Winstead, John Goodman, John Ga...",Dan Trachtenberg,"381, 531, 582, 1853"
3,4951,10 Things I Hate About You,"Comedy, Romance, Drama",/ujERk3aKABXU3NDXOAxEQYTHe9A.jpg,1999,"high school, deception, based on play or music...","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",Gil Junger,337
4,389,12 Angry Men,Drama,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957,"death penalty, anonymity, court case, court, j...","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Sidney Lumet,588
...,...,...,...,...,...,...,...,...,...
2995,1946,eXistenZ,"Action, Thriller, Science Fiction",/kETKF0JhdTPn1knci8CAdYL0d79.jpg,1999,"hacker, video game, virtual reality, pop star,...","Jennifer Jason Leigh, Jude Law, Ian Holm, Will...",David Cronenberg,381
2996,437586,mid90s,"Drama, Comedy",/9Tw0Y3DK5kGIU9X1yw3Q9gCkOlb.jpg,2018,"california, skateboarding, dysfunctional famil...","Sunny Suljic, Katherine Waterston, Lucas Hedge...",Jonah Hill,NaN
2997,381283,mother!,"Drama, Thriller, Horror",/2yOKarmL8B4oXaLXUdHu882SUbu.jpg,2017,"husband wife relationship, nightmare, nihilism...","Jennifer Lawrence, Javier Bardem, Ed Harris, M...",Darren Aronofsky,"381, 531, 582, 1853"
2998,537116,"tick, tick... BOOM!","Drama, Music",/DPmfcuR8fh8ROYXgdjrAjSGA0o.jpg,2021,"new york city, composer, artist, musical, base...","Andrew Garfield, Alexandra Shipp, Robin de Jes...",Lin-Manuel Miranda,"8, 1796"
2999,47971,xXx: Return of Xander Cage,"Action, Adventure, Crime",/hba8zREJpP1AYhaXgb2oJLQeO0K.jpg,2017,"airplane, tattoo, spy, extreme sports, parachu...","Vin Diesel, Donnie Yen, Ruby Rose, Toni Collet...",D. J. Caruso,"8, 119, 381, 1796, 531, 582, 1853, 1967"

In [94]:
len(tmdb_content['cast'].dropna().str.split(',').explode('cast').str.strip().sort_values().unique().tolist())

14201

In [49]:
import pandas as pd
df = pd.read_csv("data/TMDB_content.csv")

def apply_filters(df, filters):
    filtered_df = df.copy()

    if filters:
        for filter_name, filter_values in filters.items():
            if filter_values:
                try:
                    filtered_df[filter_name] = filtered_df[filter_name].fillna('')
                    filter_conditions = [filtered_df[filter_name].str.contains(value, case=False) for value in filter_values]
                    combined_condition = pd.concat(filter_conditions, axis=1).any(axis=1)
                    filtered_df = filtered_df[combined_condition]
                except AttributeError:
                    # Handle non-string columns gracefully
                    return filtered_df.head(0)
                    
        filtered_df.reset_index(drop=True, inplace=True)
    
    return filtered_df

In [51]:
apply_filters(df, filters)

Empty DataFrame
Columns: [tmdb_id, score_imdb, title, genres, poster_path, year, keywords, cast, director, watch_providers]
Index: []

In [50]:
filters = {"genres":['Animation'], "keywords":[], "year":[], "cast":[], "director":['christopher nolan']}

In [18]:
apply_filters(df, filters)

,tmdb_id,title,genres,poster_path,year,keywords,cast,director,watch_providers
0,614696,#Alive,"Horror, Action, Adventure, Thriller",/zqf711LsnQ5CcW3rISFw2t7OYzb.jpg,2020,"escape, alone, survival, drone, zombie, apartm...","Yoo Ah-in, Park Shin-hye, Lee Hyun-wook, Jin S...",Cho Il,"8, 1796"
1,19913,(500) Days of Summer,"Comedy, Drama, Romance",/f9mbM0YMLpYemcWx6o2WeiYQLDP.jpg,2009,"jealousy, gallery, fight, date, architect, int...","Joseph Gordon-Levitt, Zooey Deschanel, Geoffre...",Marc Webb,337
2,333371,10 Cloverfield Lane,"Thriller, Science Fiction, Drama, Horror",/84Dhwz93vCin6T1PX6ctSvWEuNE.jpg,2016,"kidnapping, paranoia, bunker, basement, surviv...","Mary Elizabeth Winstead, John Goodman, John Ga...",Dan Trachtenberg,"381, 531, 582, 1853"
3,4951,10 Things I Hate About You,"Comedy, Romance, Drama",/ujERk3aKABXU3NDXOAxEQYTHe9A.jpg,1999,"high school, deception, based on play or music...","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",Gil Junger,337
4,389,12 Angry Men,Drama,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957,"death penalty, anonymity, court case, court, j...","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",Sidney Lumet,588
...,...,...,...,...,...,...,...,...,...
2995,1946,eXistenZ,"Action, Thriller, Science Fiction",/kETKF0JhdTPn1knci8CAdYL0d79.jpg,1999,"hacker, video game, virtual reality, pop star,...","Jennifer Jason Leigh, Jude Law, Ian Holm, Will...",David Cronenberg,381
2996,437586,mid90s,"Drama, Comedy",/9Tw0Y3DK5kGIU9X1yw3Q9gCkOlb.jpg,2018,"california, skateboarding, dysfunctional famil...","Sunny Suljic, Katherine Waterston, Lucas Hedge...",Jonah Hill,NaN
2997,381283,mother!,"Drama, Thriller, Horror",/2yOKarmL8B4oXaLXUdHu882SUbu.jpg,2017,"husband wife relationship, nightmare, nihilism...","Jennifer Lawrence, Javier Bardem, Ed Harris, M...",Darren Aronofsky,"381, 531, 582, 1853"
2998,537116,"tick, tick... BOOM!","Drama, Music",/DPmfcuR8fh8ROYXgdjrAjSGA0o.jpg,2021,"new york city, composer, artist, musical, base...","Andrew Garfield, Alexandra Shipp, Robin de Jes...",Lin-Manuel Miranda,"8, 1796"
2999,47971,xXx: Return of Xander Cage,"Action, Adventure, Crime",/hba8zREJpP1AYhaXgb2oJLQeO0K.jpg,2017,"airplane, tattoo, spy, extreme sports, parachu...","Vin Diesel, Donnie Yen, Ruby Rose, Toni Collet...",D. J. Caruso,"8, 119, 381, 1796, 531, 582, 1853, 1967"

In [21]:
nb_rows = 4
[i for i in range(1, nb_rows+1)]

[1, 2, 3, 4]

In [22]:
[i for i in range(1, nb_rows + 1)]

[1, 2, 3, 4]

In [39]:
def calculate_column_ratios(nb_rows):
    if nb_rows < 5:
        left_padding = (5 - nb_rows) / 2
        right_padding = (5 - nb_rows) / 2

        # If the padding is not evenly distributed, adjust left or right padding accordingly
        if (left_padding + right_padding) < (5 - nb_rows):
            left_padding += 0.5
        elif (left_padding + right_padding) > (5 - nb_rows):
            right_padding += 0.5

        column_ratios = [left_padding] + [1] * nb_rows + [right_padding]
        return column_ratios

    # If nb_rows is 5 or greater, return a list of 1's
    return [1] * 5

In [40]:
calculate_column_ratios(2)

[1.5, 1, 1, 1.5]

In [43]:
nb_rows = 2
columns = calculate_column_ratios(nb_rows)
columns_range = [i for i in range(1, nb_rows + 1)]

print(columns)
print(columns_range)

[1.5, 1, 1, 1.5]
[1, 2]